
<div class="container text-center">
  <br>
  <h1>Pets start here.</h1>
  <h3>Who is Meow, and who is Not-Meow? You decide!</h3>
  <br>
  <br>

  <h3 class="get_started"><%= link_to "get started >", '/cats?random=true' %></h3>
  <h2>Meet some of our many cats!</h2>
</div>
